form input{
    width: 250px;
    height: 50px;
    border: none;
    border-bottom: 1px black solid;
    background-color: transparent;
    padding: 25px;
    margin: 25px;
    color: #000;
}
form button{
    width: 100px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px #000;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}