/* =========================
   RESET + BASE
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================
   VARIABLES GLOBALES
   ========================= */
:root {
  --bg: #f8fafc;
  --card: #ffffff;
  --primary: #4f46e5;
  --text: #0f172a;
  --muted: #64748b;
  --border: #e5e7eb;

  --radius: 5px;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

/* =========================
   BODY
   ========================= */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  /* min-height: 100vh; */
  line-height: 1.5;
}

/* =========================
   ROOT APP
   ========================= */
#root {
  min-height: 100vh;
  /* display: flex; */
  width: 100%;
  /* justify-content: center; */
  /* align-items: flex-start; */
}
